/mysql-data
.idea
/images/**/Dockerfile
/images/custom
/images/mysql/**
/images/node_modules
/docker-compose.override.yaml
/package-lock.json
/.env
/nginx/rootfs/etc/nginx/sites-enabled/www.conf
/ssl/*
/local-modules
